body{
	background-color: #1E293D;
}

.banner{
	background-color: white;
	border-bottom: 2px solid #16a085;
}

.banner-logo, .banner-logo:focus, .banner-logo:active, .banner-logo:hover, .banner-logo:visited{
	color: #F33E87;
	vertical-align: baseline;
	text-decoration: none;
}

.banner-logo .small.banner-small-text{
	color: #F33E87;
	padding-left: 5px;
}

.banner-logo .banner-logo-icon{
	font-size: 55px;
	vertical-align: middle;
}

.banner-logo.h1 {
	margin-top: 10px;
	display: inline-block;
}

.search-body {
	padding: 10px;
	height: calc(100vh - 75px);
}

.clearSearch, .ajax-loader {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #F33E87;
    z-index: 101;
}

.search-results{
	overflow-y: auto;
	background-color: #1E293D;
}

.search-bar{
	margin: 5px 0;
}

.list-link, .list-link:hover, .list-link:active, .list-link:visited{
	color: #9068be;
	font-size: 1.5em;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    position: relative;
    max-width: 100%;
    text-align: center;
}

.list-bar, .list-details{
	color: #16a085;
	text-decoration: none;
	cursor: text;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    position:relative;
    text-align:center;
}

.list-bar{
	margin: 0 5px;
}

.list-row-2, .list-row-3{
	margin-top: 10px;
}

.course-result{
	margin: 2px;
}

.media-object {
	width: 192px;
	height: 192px;
}

.choose-no{
	margin: 0px 10px;
	font-size: 0.8 em;
	color: #9068be;
}

.result-list{
	max-height: 65vh;
	overflow-y: auto;
	margin: 5px;
	border: 2px solid #16a085;
	background-color: #16a085;
}

#badge_up, #badge_down {
	margin-left: 10px;
	background-color: #F33E87!important; 
}

#no-of-results {
	color: white;
	margin-left: 15px;
}

#result_heading {
	border: 2px solid #16a085;
	width: 100%;
	background-color: white;
	color: #F33E87;
	font-size: 1.5em;
	padding: 10px;
}

.media-object{
	border: 2px solid #16a085!important;
	background-color: white;
}

.fa-tags, .fa-link, .fa-align-justify {
	margin-right: 5px;
}

#course_desc {
	width: 100%;
	background-color: white;
	color: #F33E87;
	font-size: 1em;
	padding: 10px;
	margin-top: 5px;
}

.pagination a, .list-group-item, .btn {
	color: #F33E87!important;
	border: 2px solid #16a085!important;
	border-collapse: collapse;
}

.btn{
	background-color: white;
}

.btn:hover, .btn:active, btn:visited, btn:focus, .div-row-2, .div-row-3 {
	background-color: #1E293D!important;
}

.div-row-2 {
	border: 2px solid #16a085;
	margin: 5px 15px;
	background-color: white!important;
}

.div-row-3{
	padding: 5px;
	margin: 0px 15px;
}

.panel-heading, .input-group-addon{
	background-color: #1E293D!important;
	color: #F33E87!important;
}

.pagination #prev-list, .pagination #next-list, .media-body, .list-group-item {
	background-color: #1E293D!important;
}

.list-row-3 .list-group-item{
	background-color: white!important;
}

.desc-link {
	width: 100%;
}

.list-row-2{
	border: 2px solid #16a085;
	padding: 5px;
	background-color: white;
}

.input-group, .panel{
	border: 2px solid #16a085!important;
	border-collapse: collapse;
}

.pagination li a:hover, .pagination li a:active , .pagination li a:focus, .input-group, .selected-button{
	background-color: #1E293D!important;
}
